**<h1 align="center"> Pré-processamento dos dados brutos </h1>**
___

### Objetivo: Povoar o banco de dados com os campeonatos do brasileirão de 2014 - 2024
* jogos
* jogadores
* gols
* cartões
* estádios
___

### Carregando os datasets

In [1]:
import pandas as pd

df = pd.read_csv("dataset/campeonato-brasileiro-full.csv")
display(df)

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/03/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/03/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/03/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/03/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/03/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8780,8783,38,08/12/2024,16:04,Cuiaba,Vasco,4-3-3,4-3-2-1,B. Franco,F. Loureiro,Vasco,Arena Pantanal,1,2,MT,RJ
8781,8784,38,08/12/2024,16:04,Palmeiras,Fluminense,4-2-3-1,4-2-3-1,A. Moreira Ferreira,L. Venker de Menezes,Fluminense,Allianz Parque,0,1,SP,RJ
8782,8776,38,08/12/2024,16:05,Fortaleza,Internacional,4-2-3-1,4-1-2-1-2,J. Vojvoda,R. Machado Marques,Fortaleza,Arena Castelão,3,0,CE,RS
8783,8780,38,08/12/2024,16:05,Bragantino,Criciuma,4-2-3-1,4-1-2-1-2,F. Seabra,C. Tencati,Bragantino,Nabizão,5,1,SP,SC
8784,8785,38,08/12/2024,16:05,Gremio,Corinthians,4-4-2,4-3-1-2,Renato Gaúcho,R. Díaz,Corinthians,Arena do Grêmio,0,3,RS,SP

In [2]:
df_gols = pd.read_csv("dataset/campeonato-brasileiro-gols.csv")
display(df_gols)

,partida_id,rodata,clube,atleta,minuto,tipo_de_gol
0,4607,1,Fluminense,Rafael Sóbis,31,NaN
1,4607,1,Fluminense,Nirley da Silva Fonseca,59,Gol Contra
2,4607,1,Fluminense,Fred,45,Penalty
3,4608,1,Internacional,Charles Aránguiz,6,NaN
4,4612,1,Cruzeiro,Nílton Ferreira Júnior,63,NaN
...,...,...,...,...,...,...
9856,8780,38,Bragantino,Vinicinho,30,NaN
9857,8780,38,Criciuma,Rodrigo Fagundes de Freitas,39,NaN
9858,8785,38,Corinthians,Charles Rigon Matos,88,NaN
9859,8785,38,Corinthians,Yuri Alberto,45+1,Penalty
9860,8785,38,Corinthians,Memphis Depay,90+3,NaN

In [3]:
df_cartoes = pd.read_csv("dataset/campeonato-brasileiro-cartoes.csv")
display(df_cartoes)

,partida_id,rodata,clube,cartao,atleta,num_camisa,posicao,minuto
0,4607,1,Figueirense,Amarelo,Paulo Roberto da Silva,28.0,NaN,66
1,4607,1,Figueirense,Amarelo,Thiago Heleno,4.0,Zagueiro,44
2,4608,1,Internacional,Amarelo,Andrés D'Alessandro,10.0,Meio-campo,72
3,4608,1,Vitoria,Amarelo,Marcelo Machado dos Santos,29.0,NaN,86
4,4608,1,Vitoria,Amarelo,Mansur,NaN,Zagueiro,10
...,...,...,...,...,...,...,...,...
20948,8785,38,Corinthians,Amarelo,André Carrillo,19.0,Meio-campo,54
20949,8785,38,Corinthians,Vermelho,José Andrés Martínez,70.0,Meio-campo,79
20950,8785,38,Gremio,Amarelo,Reinaldo Manoel da Silva,6.0,Zagueiro,25
20951,8785,38,Corinthians,Amarelo,Hugo Souza,1.0,Goleiro,64
20952,8785,38,Gremio,Vermelho,Douglas Moreira,17.0,Meio-campo,79

## Dataframe de todos os jogos

In [4]:
import re

colunas = ['ID','data','hora','visitante_Placar','mandante_Placar','arena','mandante','visitante','rodata']
df_limpo = df[colunas].copy()
df_limpo = df_limpo.rename(columns={'visitante_Placar': 'n_placar_visitante','mandante_Placar': 'n_placar_casa','arena': 'c_nome_estadio','mandante': 'c_time_casa','visitante': 'c_time_visitante','rodata':'n_rodada'})

df_limpo['data'] = pd.to_datetime(df_limpo['data'], format='%d/%m/%Y')
df_limpo = df_limpo[df_limpo['data'].dt.year >= 2014] # só temos infomações dos gols a partir desse ano
df_limpo ['c_nome_estadio'] = df_limpo ['c_nome_estadio'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())
df_limpo['d_ano_campeonato'] = df_limpo['data'].dt.year
df_limpo['c_nome_campeonato'] = "Brasileirão " + df_limpo['d_ano_campeonato'].astype(str)
df_limpo.index = range(1, len(df_limpo) + 1)


display(df_limpo)
df_limpo.drop(columns=['ID']).to_csv("inserts/jogos_brasileirão.csv", index=False)

,ID,data,hora,n_placar_visitante,n_placar_casa,c_nome_estadio,c_time_casa,c_time_visitante,n_rodada,d_ano_campeonato,c_nome_campeonato
1,4607,2014-04-19,18:28,0,3,Maracanã,Fluminense,Figueirense,1,2014,Brasileirão 2014
2,4608,2014-04-19,18:31,0,1,Estádio José Pinheiro Borda,Internacional,Vitoria,1,2014,Brasileirão 2014
3,4609,2014-04-19,20:59,0,0,Arena Condá,Chapecoense,Coritiba,1,2014,Brasileirão 2014
4,4612,2014-04-20,15:58,2,1,Itaipava Arena Fonte Nova,Bahia,Cruzeiro,1,2014,Brasileirão 2014
5,4611,2014-04-20,15:59,0,3,Morumbi,Sao Paulo,Botafogo-RJ,1,2014,Brasileirão 2014
...,...,...,...,...,...,...,...,...,...,...,...
4175,8783,2024-12-08,16:04,2,1,Arena Pantanal,Cuiaba,Vasco,38,2024,Brasileirão 2024
4176,8784,2024-12-08,16:04,1,0,Allianz Parque,Palmeiras,Fluminense,38,2024,Brasileirão 2024
4177,8776,2024-12-08,16:05,0,3,Arena Castelão,Fortaleza,Internacional,38,2024,Brasileirão 2024
4178,8780,2024-12-08,16:05,1,5,Nabizão,Bragantino,Criciuma,38,2024,Brasileirão 2024
4179,8785,2024-12-08,16:05,3,0,Arena do Grêmio,Gremio,Corinthians,38,2024,Brasileirão 2024

### Código para inserção de todos os estádios

In [5]:
estadios = []
for estadio in df_limpo['c_nome_estadio'].unique():
    row = f"INSERT IGNORE INTO Estadio (c_nome_estadio, c_cidade_estadio, n_capacidade) VALUES ('{estadio}', NULL, 45000);"
    estadios.append(row)

# 4. Salvar o resultado em um arquivo de texto
DIR = 'inserts/insert_estadios.txt'
try:
    with open(DIR, 'w', encoding='utf-8') as f:
        f.write('\n'.join(estadios))
    print(f"Arquivo '{DIR}' criado com sucesso!")
except Exception as e:
    print(f"Ocorreu um erro ao salvar o arquivo: {e}")

Arquivo 'inserts/insert_estadios.txt' criado com sucesso!

## Dataframe dos jogadores

In [6]:
# Criar as colunas ausentes corretamente
df_jogador_gols = df_gols[['atleta', 'clube']].copy()
df_jogador_gols['num_camisa'] = pd.NA
df_jogador_gols['posicao'] = pd.NA

df_jogador_cartoes = df_cartoes[['atleta', 'clube', 'num_camisa', 'posicao']].copy()

# Unir os dois DataFrames
df_jogadores = pd.concat([df_jogador_gols, df_jogador_cartoes], ignore_index=True)

# Remover duplicados, mas mantendo uma linha por jogador por clube
df_jogadores_unicos = df_jogadores.drop_duplicates(subset=['atleta', 'clube'], keep='first').reset_index(drop=True)

# Exibir tudo
display(df_jogadores_unicos)

C:\Users\ester\AppData\Local\Temp\ipykernel_23092\768117848.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_jogadores = pd.concat([df_jogador_gols, df_jogador_cartoes], ignore_index=True)

                       atleta          clube  num_camisa   posicao
0                Rafael Sóbis     Fluminense         NaN       NaN
1     Nirley da Silva Fonseca     Fluminense         NaN       NaN
2                        Fred     Fluminense         NaN       NaN
3            Charles Aránguiz  Internacional         NaN       NaN
4      Nílton Ferreira Júnior       Cruzeiro         NaN       NaN
...                       ...            ...         ...       ...
4196                  Gabriel         Cuiaba        44.0  Zagueiro
4197     Ruan Tressoldi Netto      Sao Paulo        22.0  Zagueiro
4198              Alex Telles    Botafogo-RJ        13.0  Zagueiro
4199                     Raul    Botafogo-RJ        97.0   Goleiro
4200                   Adriel          Bahia        23.0   Goleiro

[4201 rows x 4 columns]

In [7]:
def contar_nao_nulos(row):
    # Conta quantos campos não são NaN na linha (excluindo atleta e clube)
    return row.notna().sum()

# Contar os não nulos (exceto atleta e clube)
df_jogadores['completude'] = df_jogadores[['num_camisa', 'posicao']].notna().sum(axis=1)

# Ordenar para que as linhas mais completas fiquem primeiro
df_jogadores_ordenado = df_jogadores.sort_values(by='completude', ascending=False)

# Agora fazer o drop_duplicates por (atleta, clube), ficando com a linha mais completa
df_jogadores_unicos = df_jogadores_ordenado.drop_duplicates(subset=['atleta', 'clube'], keep='first').reset_index(drop=True)

# Remover a coluna auxiliar de completude
df_jogadores_unicos = df_jogadores_unicos.drop(columns='completude')

# Exibir
display(df_jogadores_unicos)

                                 atleta        clube  num_camisa     posicao
0                       Douglas Moreira       Gremio        17.0  Meio-campo
1                            Hugo Souza  Corinthians         1.0     Goleiro
2              Reinaldo Manoel da Silva       Gremio         6.0    Zagueiro
3                  José Andrés Martínez  Corinthians        70.0  Meio-campo
4                        André Carrillo  Corinthians        19.0  Meio-campo
...                                 ...          ...         ...         ...
4196                             Arouca       Santos         NaN         NaN
4197                      Cícero Santos       Santos         NaN         NaN
4198                      Rafael Berger  Atletico-MG         NaN         NaN
4199  Marcos Antônio da Silva Gonçalves      Vitoria         NaN         NaN
4200            Nirley da Silva Fonseca   Fluminense         NaN         NaN

[4201 rows x 4 columns]

In [8]:
import numpy as np
df_jogadores_unicos['posicao'] = df_jogadores_unicos['posicao'].str.strip()
df_jogadores_unicos['posicao'] = df_jogadores_unicos['posicao'].str.upper()

df_jogadores_unicos['atleta'] = df_jogadores_unicos['atleta'].str.strip()
df_jogadores_unicos['atleta'] = df_jogadores_unicos['atleta'].str.upper()

df_jogadores_unicos['clube'] = df_jogadores_unicos['clube'].str.strip()

df_jogadores_unicos['num_camisa'] = df_jogadores_unicos['num_camisa'].astype('Int64')

df_jogadores_unicos['atleta'] = df_jogadores_unicos['atleta'].astype(str)
df_jogadores_unicos['Pnome'] = df_jogadores_unicos['atleta'].str.split().str[0]
df_jogadores_unicos['Unome'] = df_jogadores_unicos['atleta'].str.split().str[-1]
condicao = df_jogadores_unicos['Pnome'] == df_jogadores_unicos['Unome']
df_jogadores_unicos.loc[condicao, 'Unome'] = np.nan
df_jogadores_unicos = df_jogadores_unicos.drop('atleta', axis=1)
df_jogadores_unicos['d_data_nascimento'] = pd.NA

colunas = ['Pnome','Unome','num_camisa','d_data_nascimento','posicao','clube']
df_jogadores_unicos = df_jogadores_unicos[colunas].copy()
df_jogadores_unicos = df_jogadores_unicos.rename(columns={'Pnome':'c_Pnome_jogador','Unome':'c_Unome_jogador','num_camisa': 'n_camisa','posicao': 'c_posicao','clube': 'c_nome_time'})


display(df_jogadores_unicos)

df_jogadores_unicos.to_csv("inserts/jogadores_brasileirao.csv", index = False)

,c_Pnome_jogador,c_Unome_jogador,n_camisa,d_data_nascimento,c_posicao,c_nome_time
0,DOUGLAS,MOREIRA,17,<NA>,MEIO-CAMPO,Gremio
1,HUGO,SOUZA,1,<NA>,GOLEIRO,Corinthians
2,REINALDO,SILVA,6,<NA>,ZAGUEIRO,Gremio
3,JOSÉ,MARTÍNEZ,70,<NA>,MEIO-CAMPO,Corinthians
4,ANDRÉ,CARRILLO,19,<NA>,MEIO-CAMPO,Corinthians
...,...,...,...,...,...,...
4196,AROUCA,NaN,<NA>,<NA>,NaN,Santos
4197,CÍCERO,SANTOS,<NA>,<NA>,NaN,Santos
4198,RAFAEL,BERGER,<NA>,<NA>,NaN,Atletico-MG
4199,MARCOS,GONÇALVES,<NA>,<NA>,NaN,Vitoria
4200,NIRLEY,FONSECA,<NA>,<NA>,NaN,Fluminense

In [9]:
nulos_unome = df_jogadores_unicos['c_Unome_jogador'].isna().sum()
nulos_posicao = df_jogadores_unicos['c_posicao'].isna().sum()
nulos_camisa = df_jogadores_unicos['n_camisa'].isna().sum()


print("Nulos em c_Unome_jogador:", nulos_unome)
print("Nulos em c_posicao:", nulos_posicao)
print("Nulos em n_camisa:", nulos_camisa)

Nulos em c_Unome_jogador: 834
Nulos em c_posicao: 611
Nulos em n_camisa: 535

## Dataframe de gols

In [10]:
def converter_minuto(minuto_str):
    if isinstance(minuto_str, str) and '+' in minuto_str:
        partes = minuto_str.replace('+', ' ').split()
        return sum(map(int, partes))
    try:
        return int(minuto_str)
    except:
        return None

In [11]:
#ARRUMANDO ID JOGADOR
df_gols['atleta'] = df_gols['atleta'].str.upper()
df_gols['atleta'] = df_gols['atleta'].astype(str)
df_gols['Pnome'] = df_gols['atleta'].str.split().str[0]
df_gols['Unome'] = df_gols['atleta'].str.split().str[-1]
condicao = df_gols['Pnome'] == df_gols['Unome']
df_gols.loc[condicao, 'Unome'] = np.nan

#ARRUMANDO MINUTO JOGO
df_gols['minuto'] = df_gols['minuto'].apply(converter_minuto)

def buscar_indice_jogador(row):
    pnome = row['Pnome']
    unome = row['Unome']
    clube = row['clube']

    cond = (df_jogadores_unicos['c_Pnome_jogador'] == pnome)
    
    # Verificar também o sobrenome (c_Unome_jogador), mas só se o sobrenome não for NaN
    if pd.notna(unome):
        cond = cond & (df_jogadores_unicos['c_Unome_jogador'] == unome)
    
    cond = cond & (df_jogadores_unicos['c_nome_time'] == clube)

    resultado = df_jogadores_unicos[cond]
    
    if not resultado.empty:
        return resultado.index[0]+1  # Pega o primeiro índice correspondente
    else:
        return np.nan  # Caso não encontre

# Criando a nova coluna com o índice
df_gols['id_jogador'] = df_gols.apply(buscar_indice_jogador, axis=1)
display(df_gols)

,partida_id,rodata,clube,atleta,minuto,tipo_de_gol,Pnome,Unome,id_jogador
0,4607,1,Fluminense,RAFAEL SÓBIS,31,NaN,RAFAEL,SÓBIS,2150
1,4607,1,Fluminense,NIRLEY DA SILVA FONSECA,59,Gol Contra,NIRLEY,FONSECA,4201
2,4607,1,Fluminense,FRED,45,Penalty,FRED,NaN,1259
3,4608,1,Internacional,CHARLES ARÁNGUIZ,6,NaN,CHARLES,ARÁNGUIZ,509
4,4612,1,Cruzeiro,NÍLTON FERREIRA JÚNIOR,63,NaN,NÍLTON,JÚNIOR,1958
...,...,...,...,...,...,...,...,...,...
9856,8780,38,Bragantino,VINICINHO,30,NaN,VINICINHO,NaN,9
9857,8780,38,Criciuma,RODRIGO FAGUNDES DE FREITAS,39,NaN,RODRIGO,FREITAS,84
9858,8785,38,Corinthians,CHARLES RIGON MATOS,88,NaN,CHARLES,MATOS,313
9859,8785,38,Corinthians,YURI ALBERTO,46,Penalty,YURI,ALBERTO,261
9860,8785,38,Corinthians,MEMPHIS DEPAY,93,NaN,MEMPHIS,DEPAY,152

In [12]:
#ARRUMANDO ID DO JOGO
#df_gols_2023 = df_gols[df_gols['partida_id'].isin(df_limpo['ID'])].copy()
id_para_index = df_limpo.reset_index().set_index('ID')['index']
df_gols['id_jogo'] = df_gols['partida_id'].map(id_para_index)

#ELIMINANDO COLUNAS DESNECESSARIAS
df_gols = df_gols.drop(['atleta','rodata','clube','tipo_de_gol','Pnome','Unome','partida_id'], axis=1)
df_gols = df_gols.rename(columns={'minuto': 'n_minuto_gol'})

#GUARDANDO GOLS EM CSV
df_gols.to_csv("inserts/gols_brasileirao.csv",index=False)
display(df_gols)

      n_minuto_gol  id_jogador  id_jogo
0               31        2150        1
1               59        4201        1
2               45        1259        1
3                6         509        2
4               63        1958        4
...            ...         ...      ...
9856            30           9     4178
9857            39          84     4178
9858            88         313     4179
9859            46         261     4179
9860            93         152     4179

[9861 rows x 3 columns]

In [13]:
colunas_chave = ['id_jogo', 'id_jogador', 'n_minuto_gol']

linhas_duplicadas = df_gols[df_gols.duplicated(subset=colunas_chave, keep=False)]

# 3. Verifique se foram encontradas duplicatas e mostre o resultado.
if not linhas_duplicadas.empty:
    print("--- ATENÇÃO: Linhas Duplicadas Encontradas no DataFrame ---")
    
    # Ordenar os resultados pelas colunas da chave ajuda a agrupar
    # visualmente as duplicatas, tornando a análise mais fácil.
    print(linhas_duplicadas.sort_values(by=colunas_chave))
else:
    print("--- Nenhuma linha duplicada foi encontrada dentro do próprio DataFrame. ---")
    print("\nSe você ainda recebe o erro do banco de dados, a causa é outra:")
    print("Uma ou mais linhas do seu DataFrame já existem na tabela 'Gol' do banco,")
    print("provavelmente de uma inserção anterior.")

--- ATENÇÃO: Linhas Duplicadas Encontradas no DataFrame ---
      n_minuto_gol  id_jogador  id_jogo
5089            46         265     2195
5092            46         265     2195
5221            46         304     2252
5222            46         304     2252

In [14]:
erros = 0
for idx_jogo, jogo in df_limpo.iterrows():
    total_gols = jogo['n_placar_visitante'] + jogo['n_placar_casa']
    gols_do_jogo = df_gols[df_gols['id_jogo'] == idx_jogo]
    
    if len(gols_do_jogo) != total_gols:
        print(f"No jogo {idx_jogo}, esperado: {total_gols} gols, encontrados: {len(gols_do_jogo)}")
        erro+=1
if erros == 0:
    print("Todos os gols estão devidamente registrados")

Todos os gols estão devidamente registrados

## Dataframe cartões

In [15]:
df_cartoes['posicao'] = df_cartoes['posicao'].str.strip()
df_cartoes['posicao'] = df_cartoes['posicao'].str.upper()

df_cartoes['atleta'] = df_cartoes['atleta'].str.upper()
df_cartoes['atleta'] = df_cartoes['atleta'].astype(str)
df_cartoes['Pnome'] = df_cartoes['atleta'].str.split().str[0]
df_cartoes['Unome'] = df_cartoes['atleta'].str.split().str[-1]
condicao = df_cartoes['Pnome'] == df_cartoes['Unome']
df_cartoes.loc[condicao, 'Unome'] = np.nan
df_cartoes = df_cartoes.drop('atleta', axis=1)
df_cartoes['minuto'] = df_cartoes['minuto'].apply(converter_minuto)

df_cartoes['id_jogador'] = df_cartoes.apply(buscar_indice_jogador, axis=1)

#ARRUMANDO ID DO JOGO
#df_cartoes_2023 = df_cartoes[df_cartoes['partida_id'].isin(df_limpo['ID'])].copy()
id_para_index = df_limpo.reset_index().set_index('ID')['index']
df_cartoes['id_jogo'] = df_cartoes['partida_id'].map(id_para_index)

#ELIMINANDO COLUNAS DESNECESSARIAS
df_cartoes = df_cartoes.drop(['partida_id','rodata','clube','num_camisa','Pnome','Unome','posicao'], axis=1)
df_cartoes = df_cartoes.rename(columns={'cartao': 'e_tipo', 'minuto': 'n_minuto_cartao'})

In [16]:
display(df_cartoes[df_cartoes['id_jogo'] == 19])

      e_tipo  n_minuto_cartao  id_jogador  id_jogo
73   Amarelo               45        1978       19
74   Amarelo               90        3701       19
75   Amarelo               41        2003       19
76  Vermelho               87        2004       19
77   Amarelo               54        2004       19
78   Amarelo               34        2005       19
79   Amarelo               51        2006       19

In [17]:
df_cartoes.to_csv("inserts/cartoes_brasileirao.csv", index=False)

## Código para inserção de time_participa_campeonato

In [18]:
# CONSTRUINDO INSERÇÕES DA TABELA TIME_PARTICIPA_CAMPEONATO

# Pegando só a data do jogo, time mandante e visitante
df_time_campeonato = pd.read_csv("dataset/campeonato-brasileiro-full.csv")
# Axis=1 indica que é pra remover a coluna
df_time_campeonato = df_time_campeonato.drop(["ID", "rodata", "hora", "formacao_mandante", "formacao_visitante", "tecnico_mandante", "tecnico_visitante", "vencedor", "arena", "mandante_Placar", "visitante_Placar", "mandante_Estado", "visitante_Estado"], axis=1)
display(df_time_campeonato)

            data       mandante      visitante
0     29/03/2003        Guarani          Vasco
1     29/03/2003   Athletico-PR         Gremio
2     30/03/2003       Flamengo       Coritiba
3     30/03/2003          Goias       Paysandu
4     30/03/2003  Internacional    Ponte Preta
...          ...            ...            ...
8780  08/12/2024         Cuiaba          Vasco
8781  08/12/2024      Palmeiras     Fluminense
8782  08/12/2024      Fortaleza  Internacional
8783  08/12/2024     Bragantino       Criciuma
8784  08/12/2024         Gremio    Corinthians

[8785 rows x 3 columns]

In [19]:
# Deixando só o ano
df_time_campeonato['ano'] = df_time_campeonato['data'].str[-4:]
df_time_campeonato['ano'] = df_time_campeonato['ano'].astype(int)

# Juntando mandante e visitante só em time
df_time_campeonato = df_time_campeonato.melt(id_vars=['ano'], 
                   value_vars=['mandante', 'visitante'], 
                   value_name='time')
df_time_campeonato = df_time_campeonato.drop(columns=["variable"])

df_time_campeonato = df_time_campeonato.drop_duplicates()

anos_para_remover = range(2003, 2014)
condicao = df_time_campeonato['ano'].isin(anos_para_remover)
df_time_campeonato = df_time_campeonato[~condicao].copy()

display(df_time_campeonato)

       ano           time
4606  2014     Fluminense
4607  2014  Internacional
4608  2014    Chapecoense
4609  2014          Bahia
4610  2014      Sao Paulo
...    ...            ...
8420  2024      Juventude
8421  2024      Palmeiras
8422  2024       Flamengo
8423  2024    Botafogo-RJ
8434  2024         Cuiaba

[224 rows x 2 columns]

In [20]:
# Agrupando os times por ano
times_por_ano = df_time_campeonato.groupby('ano')['time'].apply(lambda x: sorted(list(x)))
display(times_por_ano)

numero_de_times_por_ano = times_por_ano.str.len()
display(numero_de_times_por_ano)

# Por algum motivo, o de 2021 esta errado, e tem quatro times a mais, excluindo:
times_de_2021 = times_por_ano.loc[2021]
times_para_remover = ["Botafogo-RJ", "Vasco", "Coritiba", "Goias"]
nova_lista_2021 = [time for time in times_de_2021 if time not in times_para_remover]

times_por_ano.loc[2021] = nova_lista_2021
numero_de_times_por_ano = times_por_ano.str.len()
display(numero_de_times_por_ano)

ano
2014    [Athletico-PR, Atletico-MG, Bahia, Botafogo-RJ...
2015    [Athletico-PR, Atletico-MG, Avai, Chapecoense,...
2016    [America-MG, Athletico-PR, Atletico-MG, Botafo...
2017    [Athletico-PR, Atletico-GO, Atletico-MG, Avai,...
2018    [America-MG, Athletico-PR, Atletico-MG, Bahia,...
2019    [Athletico-PR, Atletico-MG, Avai, Bahia, Botaf...
2020    [Athletico-PR, Atletico-GO, Atletico-MG, Bahia...
2021    [America-MG, Athletico-PR, Atletico-GO, Atleti...
2022    [America-MG, Athletico-PR, Atletico-GO, Atleti...
2023    [America-MG, Athletico-PR, Atletico-MG, Bahia,...
2024    [Athletico-PR, Atletico-GO, Atletico-MG, Bahia...
Name: time, dtype: object

ano
2014    20
2015    20
2016    20
2017    20
2018    20
2019    20
2020    20
2021    24
2022    20
2023    20
2024    20
Name: time, dtype: int64

ano
2014    20
2015    20
2016    20
2017    20
2018    20
2019    20
2020    20
2021    20
2022    20
2023    20
2024    20
Name: time, dtype: int64

In [21]:
# Criando a consulta

# 1. Preparar o início do comando SQL e uma lista para guardar as linhas de valores
sql_header = """INSERT INTO time_participa_campeonato
(c_nome_time, c_nome_campeonato, d_ano_campeonato)
VALUES\n"""

# Lista para guardar cada linha -> ('Time', 'Camp', Ano)
values_list = []

# 2. Iterar sobre a Series (ano por ano)
# .items() nos dá o índice (ano) e o valor (lista_de_times)
for ano, lista_de_times in times_por_ano.items():
    
    # Para cada ano, iterar sobre a lista de times
    for time in lista_de_times:
        
        # Tratamento de segurança: se um time tiver aspas no nome (ex: O'Higgins),
        # o SQL quebraria. Trocamos ' por '' para evitar isso.
        time_seguro = time.replace("'", "''")
        
        # Monta a string do campeonato
        nome_campeonato = f"Brasileirão {ano}"
        
        # Formata a linha de VALUES no padrão desejado
        # Ex: ('Palmeiras', 'Brasileirão 2023', 2023)
        linha_formatada = f"('{time_seguro}', '{nome_campeonato}', {ano})"
        
        # Adiciona a linha formatada à nossa lista
        values_list.append(linha_formatada)

# 3. Juntar tudo em uma única string de SQL
# Juntamos todas as linhas da lista com ",\n" para que fiquem separadas por vírgula e quebra de linha
sql_values = ",\n".join(values_list)

# Monta o comando final
sql_completo = sql_header + sql_values + ";"

# 4. Salvar o resultado em um arquivo de texto
nome_do_arquivo = 'inserts/insert_time_participa_campeonato.txt'
try:
    with open(nome_do_arquivo, 'w', encoding='utf-8') as f:
        f.write(sql_completo)
    print(f"Arquivo '{nome_do_arquivo}' criado com sucesso!")
    print("Ele contém todos os comandos INSERT prontos para serem usados no seu banco de dados.")

except Exception as e:
    print(f"Ocorreu um erro ao salvar o arquivo: {e}")

Arquivo 'inserts/insert_time_participa_campeonato.txt' criado com sucesso!
Ele contém todos os comandos INSERT prontos para serem usados no seu banco de dados.

In [22]:
# 1. Agrupar por jogo e jogador e contar os tipos de cartões para cada um
contagem_por_tipo = df_cartoes.groupby(['id_jogo', 'id_jogador'])['e_tipo'].value_counts().unstack(fill_value=0)

# 2. Filtrar pelos jogadores que tiveram exatamente 2 cartões amarelos
# Verificamos se a coluna 'Amarelo' existe antes de filtrar para evitar erros
if 'Amarelo' in contagem_por_tipo.columns:
    resultado = contagem_por_tipo[contagem_por_tipo['Amarelo'] == 2]
else:
    # Se ninguém tomou cartão amarelo, o resultado é um DataFrame vazio
    resultado = pd.DataFrame()

# 3. Garantir que a coluna 'Vermelho' exista no resultado final, preenchendo com 0 se necessário
if 'Vermelho' not in resultado.columns:
    resultado['Vermelho'] = 0

# 4. Exibir o resultado final com as colunas de interesse
if resultado.empty:
    print("Nenhum jogador foi encontrado com exatamente 2 cartões amarelos no mesmo jogo.")
else:
    print("Jogadores que receberam 2 amarelos e a contagem de vermelhos no mesmo jogo:")
    # Selecionamos e reordenamos as colunas para uma melhor visualização
    print(resultado[['Amarelo', 'Vermelho']].reset_index())

display(df_cartoes[df_cartoes["id_jogo"] == 404])

Jogadores que receberam 2 amarelos e a contagem de vermelhos no mesmo jogo:
e_tipo  id_jogo  id_jogador  Amarelo  Vermelho
0           404        2169        2         0
1           452        2516        2         0
2          1059        1723        2         0
3          1101        1723        2         0
4          2523        1600        2         0
5          3352         952        2         0
6          4001           2        2         0

        e_tipo  n_minuto_cartao  id_jogador  id_jogo
1902  Vermelho               77        2439      404
1903   Amarelo               69        2442      404
1904   Amarelo               34        2169      404
1905   Amarelo                9        1937      404
1906   Amarelo               82        2391      404
1907   Amarelo               53        2393      404
1908  Vermelho               92        2437      404
1909   Amarelo               87        2169      404
1910   Amarelo               39        2438      404
1911   Amarelo               17        2437      404
1912   Amarelo               87        3662      404
1913   Amarelo               64        2439      404
1914   Amarelo               10        2398      404

In [23]:
duplicatas = df_jogadores_unicos[
    df_jogadores_unicos.duplicated(subset=['c_Pnome_jogador', 'c_Unome_jogador', 'n_camisa', 'c_nome_time'], keep=False)
]

print(duplicatas)

     c_Pnome_jogador c_Unome_jogador  n_camisa d_data_nascimento   c_posicao  \
433          RAPHAEL           VEIGA        23              <NA>  MEIO-CAMPO
706          RAPHAEL           VEIGA        23              <NA>  MEIO-CAMPO
988           CARLOS         SÁNCHEZ         7              <NA>  MEIO-CAMPO
1443          CARLOS         SÁNCHEZ         7              <NA>  MEIO-CAMPO

     c_nome_time
433    Palmeiras
706    Palmeiras
988       Santos
1443      Santos